[2018-02-22 11:01] soc opened #1 "Review Windows-specific code"
I'm not a Windows developer, so I'm not experienced in dealing with the various native Windows APIs.

It would be really helpful if someone more knowledgeable than me could have a look at https://github.com/soc/directories-rs/blob/master/src/win.rs#L82 and make sure that I have used the Windows API correctly, and haven't introduced any glaring issues on the Rust side either.

[2018-02-22 11:08] soc opened #2 "External review of the chosen paths to standardized directories on each platform"
Many of the paths to standardized directories are thoroughly documented by each operating system vendor, but it would still be helpful for someone not me to go through them and give things a second review.

There are also cases where some directories just don't exist or have a very different behavior:

For instance `executables_dir`: On Linux, one can expect that binaries placed in this folder als

[2018-02-22 11:26] killercup opened #4 "Add CI"
- Add Travis CI for Linux and macOS
- Add AppVeyor for Windows

[2018-02-22 11:26] killercup opened #5 "Add documentation"
Ideally, compile with `#![deny(missing_docs)]`

[2018-02-22 11:44] soc commented on #4
Thanks, I have activated both TravisCI and AppVeyor!

Are there any travis.yml and appveyor.yml example files for Rust anywhere that I can adapt?

[2018-02-22 11:44] soc commented on #5
Ok, thanks, will look into this!

[2018-02-22 11:45] soc opened #6 "Add more tests"

[2018-02-22 11:54] killercup commented on #4
Have a look at https://crate-ci.github.io/pr/testing.html

cc @epage

[2018-02-22 11:57] killercup opened #7 "Access directories with getters"
Currently, the fields of `BaseDirectories` and `ProjectDirectories` are private, and can't be accessed by external crates. I propose we add getters that return `Path`/`Option<Path>`.

[2018-02-22 12:22] soc commented on #4
Thanks!

[2018-02-22 12:28] soc commented on #7
Thanks, that's an embarrassing oversight.
What would be the difference to just making the struct fields public?

[2018-02-22 12:33] killercup commented on #7
Changing public fields is a breaking change (even adding them if all are public, because external users can construct the struct).

[2018-02-22 13:08] soc commented on #7
Alright, thanks!

Why `Path` instead of `PathBuf`? To simplify the ownership situation?

[2018-02-22 13:11] killercup commented on #7
Yeah.

IIRC Path is to PathBuf as &str is to String.

[2018-02-22 13:17] soc commented on #7
Ok, thanks! Expect fixes to arrive today.

[2018-02-22 17:05] soc commented on #4
I set things up and added the badges to the README. Thanks!

[2018-02-22 17:05] #4 closed

[2018-02-22 17:57] soc commented on #7
@killercup Can you have a look at https://github.com/soc/directories-rs/pull/8?

[2018-02-23 21:16] soc commented on #7
Fixed in https://github.com/soc/directories-rs/pull/8!

[2018-02-23 21:16] #7 closed

[2018-02-24 02:07] soc commented on #5
Added a first, rough part of documentation in https://github.com/soc/directories-rs/commit/d744387ed3b0d4f05bc8440aab7272848d87db97?diff=unified

[2018-03-02 14:23] soc opened #9 "Consider using config and data subdirectories for {FOLDERID_RoamingAppData} on Windows"
**Status Quo**

    BaseDirs::config_dir:   {FOLDERID_RoamingAppData}
    BaseDirs::data_dir:     {FOLDERID_RoamingAppData}
    ProjectDirs.config_dir: {FOLDERID_RoamingAppData}/_yourprojectname_/
    ProjectDirs.data_dir:   {FOLDERID_RoamingAppData}/_yourprojectname_/

**Alternative A:** Add config/data sub-directories to the paths of both `BaseDirs::{config,data}_dir` and  `ProjectDirs.{config,d

[2018-03-02 14:24] soc commented on #9
Do you have an opinion on this, @killercup?

[2018-03-02 14:25] killercup commented on #9
Sorry, I have no experience developing for Windows (or using it, really).

[2018-03-02 14:30] soc opened #10 "Better support directory structure on Windows"
According to Windows conventions, the application dir should be inside of an organization dir.

e. g. instead of

    {FOLDERID_LocalAppData}/_yourprojectname_/cache/

the cache dir should be

    {FOLDERID_LocalAppData}/_yourorganizationname_/_yourprojectname_/cache/

This probably requires extending the factory functions or adding new functions.

[2018-03-02 14:31] soc commented on #9
No, problem, thanks!

[2018-03-02 17:20] spacekookie opened #11 "Shorten types and function names"
This is just a suggestion and I'm wondering what you think about it. But all of the types and function names are *very* verbose.

For example `ProjectDirectories` could also just be shortened to `AppDirs` or `Base Directories` to `BaseDirs`. Also then having to say `dirs.project_config_dir` instead of just `dirs.config` feels…redundant.

So, this is just a suggestion on my part, I'm not married to

[2018-03-02 18:06] soc commented on #11
@spacekookie Thanks for the suggestions, you are raising some valid points!

I retained the names from the Java port, so I thought a bit about it in the past, but not too much. Here was my original reasoning:

- One of the motivation for the more verbose function names was to avoid having the same function names on `BaseDirectories` and `ProjectDirectories` (like `config_dir` vs. `project_config_d

[2018-03-02 22:34] spacekookie commented on #11
Well, according to the documentation the problem is that you're declaring functions in the pattern of `config_dir(&self)` which makes it a member function. Remove `&self` to make them type-functions.

Also, regarding the naming schemes it's very obviously Java-like (Most of my past jobs were as a Java engineer). But it is in a way verbose that feels very un-rustic. We can discuss different naming

[2018-03-02 23:03] soc commented on #11
Mh, from my understanding, they need to be member functions, because they require the actual values from the struct to operate. Is this incorrect?

I guess we have to disagree on that. I spent almost half a year of deprecating and removing things from Scala. My experience is that everything that doesn't actively discourage misuse will be used incorrectly, and in the end, it causes unnecessary prob

[2018-03-02 23:06] spacekookie commented on #11
I do like the `UserDir` instead of `BaseDir` change :+1:

Please see my edit and the links I provided for that answer :wink:

Everything can be misused and as library developers it's obviously our job to make sure that this happens as little as possible. But there is such a thing as premature optimization and over-explanation in the API design. As someone who's almost exclusively tended to legacy

[2018-03-02 23:12] soc commented on #11
... should have been ...

... wishful thinking I guess. Years I'll never get back.

[2018-03-02 23:19] spacekookie commented on #11
My condolences :sweat_smile:

Anyways, I like the suggestions you made. I think that would be a good start. Do have a look at the thing I just threw together on my fork. But obviously that's going a bit further with the re-structuring of the crate. I think in the end it would be good for usability though.

[2018-03-02 23:26] soc commented on #11
I'm already on it. :-) Give me a few minutes!

[2018-03-02 23:47] soc commented on #11
@spacekookie https://github.com/soc/directories-rs/pull/13

I think the first commit is fine, but after looking at the code I really dislike dropping `_dir` in the second commit.

E. g. `download` just reads like a function that downloads something, not like a function that returns the path to the download directory. Same for many of the other folders.

Also, it would be inconsistent with things l

[2018-03-02 23:58] soc commented on #11
/// My app is called `de.spacekookie.foo` (Yay Java!)
    fn from_domain_name(domain: &str, name: &str) -> Project { ... }

As a clarification, this is not because of Java, but because of the operating system standards on macOS.
The core idea of the factory functions is to help a developer who is only familiar with one platform to comply to the different naming rules each platform has.

In this se

[2018-03-11 11:36] spacekookie commented on #11
Apologies for not replying. I've been very busy the last week.

Thinking about factory functions that give a unifying interface without being too bloated, have you considered what I wrote in this comment here? https://github.com/soc/directories-rs/pull/14#discussion_r172463716

Do you have an opinion on it?

Also, considering the `_dir` suffix, I still think it'd be a lot more elegant without it.

[2018-03-11 17:34] soc commented on #11
Hi @spacekookie, no worries!

Yes, I think I'm quite happy with the thing we have now. It's a single function with three arguments – yes, more than one, but I tried exactly that in the past and it didn't work too well, because it involved a lot of guessing in the implementation and trying to figure out what the user actually wanted.

I have gone with `_dir` postfix, it felt more correct that way,

[2018-03-11 17:42] spacekookie commented on #11
Alright, thanks for the comments. I guess this issue is done then :wink:

[2018-03-11 17:42] #11 closed

[2018-03-11 21:54] soc commented on #11
Thanks for your help and advice! I think the design vastly improved with your input!

[2018-03-11 21:55] soc commented on #10
This has been fixed in https://github.com/soc/directories-rs/commit/4067d11fb1964a34bc8ad024b3ff01a01980752e.

[2018-03-11 21:55] #10 closed

[2018-03-11 21:56] soc commented on #5
Status: some documentation has been added, but more is required.

[2018-03-11 22:13] lnicola commented on #9
I tend to agree. It would be a bit strange on Windows.

Even more, there would be no direct way of querying `{FOLDERID_RoamingAppData}`. I imagine apps might ask for `config_dir` or `data_dir` for two reasons:

- they don't like what `directories` picks for the project directories, and want to build the path themselves
- they want to read the files of another application

Being opinionated about s

[2018-03-11 22:21] soc commented on #9
@lnicola Thanks for your input!

It would certainly be possible to keep `BaseDirs` as is (`{FOLDERID_RoamingAppData}`) and only adjust the directories for `ProjectDirs`.

What's your take on this?

My main concern with having no sub-directories for `ProjectDirs` is that users might write code like "get the config dir and copy/move all the files to place X" (e. g. app backups, migration, ...) and t

[2018-03-11 22:37] lnicola commented on #9
`ProjectDirs` is harder, and I have no strong opinion either way. One could argue that the table in the README clearly shows the two paths to be the same, but it's a small thing that people might end forgetting after a while. On the other hand, one day someone is sure to show up and complain there's an annoying `config` subdirectory that they don't want to see.

So.. I don't know :confused: .

[2018-03-11 22:38] soc commented on #9
@lnicola Ok, thanks! I'm slightly inclined toward going with Alternative B over status-quo and Alternative A.

[2018-03-11 22:40] ollie27 commented on #9
I recommend not using subdirectories in `BaseDirs`. I notice `cache_dir` is `{FOLDERID_LocalAppData}\cache\` which doesn't make much sense. That should just be `{FOLDERID_LocalAppData}`.

For `ProjectDirs` using subdirectories seems fine as long as it's done consistently on all platforms.

[2018-03-11 22:42] soc commented on #9
@ollie27 The cache subdirectory comes from Qt's StandardPaths. I agree that it might make sense to go either all-or-nothing with config/cache/data.

[2018-03-11 23:06] ollie27 commented on #9
I don't think following Qt's StandardPaths is a good idea there.

`data_dir` and `data_local_dir` overlap on Linux and macOS so exactly the same problem exists there, why not use subdirectories for them? Maybe the easiest solution is to make it clear in the docs that directories can and do overlap.

[2018-03-11 23:18] soc commented on #9
That's a very good point, thanks!

[2018-03-12 00:11] soc commented on #9
Hi every, could you have a look at the PR?

[2018-03-12 01:59] soc commented on #9
Alternative B, with \cache\ removed from `BaseDirs.cache_dir`, implemented in https://github.com/soc/directories-rs/pull/15.

Thanks to everyone involved!

[2018-03-12 01:59] #9 closed

[2018-03-12 02:00] soc commented on #5
Everything public should be implemented now in https://github.com/soc/directories-rs/pull/15.

Please reopen if something is missing!

[2018-03-12 02:00] #5 closed

[2018-03-13 11:24] matklad opened #16 "Calling `xdg-user-dirs` on linux takes non-negligible amount of time"
If I have `xdg-user-dirs` utility installed, then creating `BaseDirs` on my machine takes about 18 milliseconds, which seems pretty substantiation. If I don't have `xdg-user-dirs`, the time is 2 ms. Finally, if I patch `directories-rs` to just return `None` from `run_xdg_user_dir_command`, the time drops to 8 μs.

Given that `xdg-user-dirs` is used for stuff like `audio_dir`, which is probably isn

[2018-03-13 18:54] soc commented on #16
Thanks for benchmarking!

One thing that effected this the design was the desire to have `BaseDirs::new` and `ProjectDirs::from` be immutable snapshots that reflect the state of the various variables at the time the struct was created
Without this restraint I would have gone for laziness.

What I would propose is two-fold:

- Replacing the invocation of the command-line tool with reading the confi

[2018-03-13 19:12] matklad commented on #16
Agree that laziness is a wrong solution here.

Long term, I think reading he config ourselves seems to be a way to go: at least on my machine, I have the config file, but I don’t have the actual utility installed.

However, even if reading file is fast, I would still feel a bit uneasy about this bit of IO, because IO tends to fail for obscure reasons...And it seems plausible that UserDirs will be

[2018-03-13 19:14] matklad commented on #16
https://github.com/whitequark/rust-xdg/issues/1 Seems relevant

[2018-03-13 19:45] soc commented on #16
THANKS! Your link was extremely useful!

Some of the failures I saw on Travis not having `xdg-user-dirs` hinted into this being a problem, but the discussion and the Debian bug brought additional clarity.

Also, it reminded me about the Trash dir, which I completely forgot and for which I should definitely add support!

Given all this information, let's do this:

- `BaseDirs`: cache, config, data,

[2018-03-13 19:53] matklad commented on #16
home dir will definitely be among the most used directories, so, from the practical standpoint, it should go into `BaseDirs`.

[2018-03-13 21:38] soc commented on #16
@matklad: https://github.com/soc/directories-rs/pull/17

[2018-03-13 22:44] soc opened #18 "Windows' FOLDERID_RecycleBinFolder fails tests with "Command exited with code -1073741819""
The reason this happens is that the trash folder is a `VIRTUAL` folder on Windows and doesn't have a "real" path. Closing.

[2018-03-17 04:14] soc opened #19 "Consider a `Dirs` API that exposes individual functions"
The difference to existing APIs is that the values are recomputed every time, not computed once, like with `BaseDirs::new`, `UserDirs::new` and `ProjectDirs::from`, and people could directly use whatever function they need without computing related ones.

[2018-03-19 19:05] dwijnand opened #20 "Consider the Rust API Guidelines"
https://rust-lang-nursery.github.io/api-guidelines/

just sharing what I came across. perhaps you're already aware of them.

[2018-03-19 19:21] soc commented on #20
Thanks, I'll have a look!

Perfect timing by the way, was just giving a talk about this library. :-)

[2018-03-23 16:53] dwijnand commented on #20
nope, just thought you'd be interested.

I've yet to find the time to sit down and read through it all myself.

[2018-03-23 16:54] dwijnand commented on #20
feel free to close this issue as and when you please - I don't have any specific outcome attached to it.

[2018-03-23 17:30] soc commented on #20
Ah, ok thanks! I went through it, but I couldn't find a recommendation that the code was violating.

Then I'll close this for the moment, but please reopen this at any time you feel there is something that can be improved.

Thanks!

[2018-03-23 17:30] #20 closed

[2018-04-15 09:00] tbu- opened #21 "Do you want to take over the `dirs` name?"
https://crates.io/crates/dirs

[2018-04-15 20:57] soc commented on #21
Hey @tbu-!

First of all, thanks for creating your crate, I learned a lot from reading it, and it had a lot of impact on the design I picked in the end.

Yes, if you don't mind, I'd take over the dirs name! I'm not immediately sure whether I should move directories to dirs (because I want to keep the naming consistent between the Java and the Rust version), or whether there is some redirect etc. t

[2018-04-15 21:27] tbu- commented on #21
I sent you an invite on crates.io. I'm glad that the library was useful for something, it was barely used before.

No problem. If you release a new version for this crate, please make sure to not break existing users; i.e. release a new 0.4 or 1.0 release, but not 0.3.*.

The only redirect that I know of would be re-exporting everything from the `directories` crate.

[2018-04-15 21:55] soc commented on #21
Ok, thanks for the advice!

I'd probably keep everything as-is for now and spend the time until 1.0 thinking about the best way forward, and then do any change that would impact `dirs` with 1.0 at the earliest.

[2018-04-15 22:42] tbu- opened #25 "What happens on non-Windows non-Linux non-macOS operating systems?"
Currently the crate fails to compile for these.

I'd suggest to use the Linux conventions in this case, as these are common for other unix-like operating systems such as the BSDs (FreeBSD, NetBSD, DragonFlyBSD, OpenBSD).

[2018-04-15 22:58] soc commented on #25
Thanks, I think this makes sense.

I wonder whether it makes more sense to add BSDs to the target section, or just convert the Linux target into `!win && !mac` instead (not sure how things like Haiku and Redox identify themselves, but it would be nice to catch them, too).

Opinions?

[2018-04-20 08:35] soc commented on #2
XDG user dirs return `None` instead of inventing some fallback, this is consistent with directories-jvm.

[2018-04-20 08:35] #2 closed

[2018-04-20 09:04] soc commented on #21
@tbu- What about making `dirs` a crate that provides access to the individual directories directly (i. e. not through `BaseDirs::get`, `UserDirs::get`, ...) and making `directories` depend on it, as described in https://github.com/soc/directories-rs/issues/19?

Then people would have the choice between picking a higher-level crate (`directories`) and a slightly lower-level crate (`dirs`), with the

[2018-05-01 21:17] soc commented on #21
@tbu- https://github.com/soc/dirs-rs – what do you think?

[2018-05-01 21:32] soc commented on #19
See https://github.com/soc/dirs-rs/ for a sketch how this could look like.

[2018-05-01 22:10] tbu- commented on #21
Sounds good. :)

[2018-05-02 10:08] soc commented on #21
@tbu- Is there a way to print a warning message during compilation that informs people that dirs 0.3.1 and dirs 1 are different?

[2018-05-02 17:14] 0mp commented on #25
Give it a try ;) I'm working on adding [bat](https://github.com/sharkdp/bat) to the FreeBSD ports and dictionaries is one of the packages, which are incompatible. Maybe it's the only one.

I'm happy to do some testing but I'm not a Rust user myself, however, so I'll need some help/instructions from you.

Cheers ;)

[2018-05-06 01:46] soc commented on #19
I decided to go with the approach of having a separate, more low-level library.

[2018-05-06 01:46] #19 closed

[2018-05-06 01:56] soc commented on #16
I think we should at least batch the queries, so we spawn only one process instead of a dozen like in https://github.com/soc/directories-jvm/blob/master/src/main/java/io/github/soc/directories/Util.java#L95.

[2018-05-06 21:08] 0mp commented on #25
BTW, do you plan to tag a release soon, which includes recent changes? That would make testing much easier. Thanks!

[2018-05-06 21:09] soc commented on #1
@francesca64 Amazing, thanks a lot!

Could you have a look whether https://github.com/soc/directories-rs/blob/master/src/win.rs#L84 correctly manages the memory coming from the Windows API?

[2018-05-06 21:11] soc commented on #25
@0mp Oh, damn, I merged the changes,, but forgot to publish a new version.
Give me a few minutes, I'm on it right now.

[2018-05-06 21:16] soc commented on #25
CI is building 0.10.0 right now.

[2018-05-06 21:26] soc commented on #25
Windows is green, directories 0.10.0 is published.

Thanks for reminding me, @0mp!

[2018-05-06 21:34] 0mp commented on #25
Whoa, that was fast. Thank you!

Let's try it out!

[2018-05-07 15:09] francesca64 commented on #1
Looks good to me. `OsString` copies the data, and you free the original with `CoTaskMemFree` just as the docs for `SHGetKnownFolderPath ` say.

[2018-05-07 16:30] soc commented on #1
@francesca64 Thank you. I looked at code like https://github.com/tbu-/dirs/blob/master/src/windows/sys.rs#L88 that explicitly defined `Drop`and was concerned that there was a way to leave the method in my code without cleanup that I didn't see..

[2018-05-07 16:53] soc commented on #1
@francesca64 Last question: Do the changes in https://github.com/soc/directories-rs/commit/ae98d152641c7b68904e1f0ee1d86354761fd0c9 look good to you?

[2018-05-07 19:38] soc commented on #1
@francesca64 Thanks for your help! I'll close this ticket then.

[2018-05-07 19:38] #1 closed

[2018-05-07 19:39] #18 closed

[2018-05-07 19:52] soc commented on #16
Ooops, sorry.

[2018-05-14 09:56] wezm opened #30 "BSD Support"
BSD systems (FreeBSD, NetBSD, OpenBSD, etc.) all follow the freedesktop specifications too so should be handled in the same way the crate currently supports Linux.

Since there are many OSes that follow this spec (Linux, BSD, Redox, Solaris, Illumos, etc) it might make sense to have the crate default to the "lin" module and only white list exceptions like Windows and macOS. That way the crate won'

[2018-05-14 15:41] soc commented on #30
Hi @wezm! I believe that defaulting to the lin module is what happens since https://github.com/soc/directories-rs/commit/70055e4eaccb7712db1d1e2b1561961fdfc7d30f already, but I could have missed or misunderstood something. Are there any additional changes that need to be made (either in the code or in the documentation)?
Thanks!

[2018-05-14 23:35] wezm commented on #30
Neat! I'm glad it works as I was expecting :+1: Sorry for the noise.

I think what led me astray was the following in the README (no mention of other OSes being supported):

and the module being called `lin`.

[2018-05-14 23:35] #30 closed

[2018-06-03 15:36] b-r-u opened #32 "CI: Pin a minimum supported stable Rust version"
To avoid accidentally increasing the minimum supported Rust version, the CI scripts could include a build for a fixed stable Rust version.
I'm not sure what the minimum working version is right now (I tried to lower it with https://github.com/soc/directories-rs/pull/31), because I couldn't test all platforms.

[2018-06-04 16:18] b-r-u commented on #32
Ok, so I tested different Rust versions on a fork (https://github.com/b-r-u/directories-rs/commits/ci-rust-1.20) and it looks like everything works even with 1.13 (from 2016-11-10, which stabilized the `?` operator) with a minor change (https://github.com/b-r-u/directories-rs/commit/746679109bfad5eefed8c4bf2057295e78260a50).

I also conducted a small survey on the minimum version of some popular c

[2018-06-04 22:23] soc commented on #32
Thanks @b-r-u, I'll look into this tomorrow!

[2018-06-21 12:53] soc opened #33 "Should home_dir on Windows consider %USERPROFILE%?"
Making `home_dir` consider `%USERPROFILE%` on Windows would be more in line with its behavior on Linux, but I'm not really sure what the best practices around changing `%USERPROFILE%` on Windows are.

I assume that this happens far less frequently on Windows than it does on Linux, and I'd appreciate comments and experience reports from people who have done this to better understand their use cases

[2018-06-21 13:34] b-r-u commented on #32
There is https://github.com/rust-lang/cargo/issues/4100 for minimal crate versions but I think it's not yet stable.

Maybe there was a misunderstanding? I was looking at popular crates to get a feeling for the minimal Rust version they support. I don't think you should lower any dependency versions.

[2018-06-21 13:40] soc commented on #32
Ah, alright, understood. Thanks!

[2018-06-21 13:43] b-r-u commented on #32
I could have been clearer and updated the comment! https://github.com/soc/directories-rs/issues/32#issuecomment-394413593

[2018-06-22 16:29] #32 closed

[2018-06-25 00:07] soc commented on #21
@tbu- Thanks for your help and the offer of the dirs crate! I just released dirs 1!

[2018-06-25 00:07] #21 closed

[2018-06-25 12:25] soc opened #36 "Relicense under MIT/Apache-2"
It has been brought up repeatedly that MIT/Apache-2 is the preferred license, especially for crates the core ecosystem might depend on (like cargo).

Steps that would be necessary:
- Ask contributors whether this is fine for them
  - [x] @b-r-u
  - [x] @Calinou
  - [x] @tbu-
  - [x] @matklad
  - [x] @spacekookie
- If all agree, change license.
- Publish new version, probably combined with the nece

[2018-06-25 12:39] b-r-u commented on #36
I'm also fine with MIT/Apache-2.

[2018-06-25 14:36] soc commented on #36
@b-r-u You beat me to it! Thanks!

@Calinou, @tbu-, @matklad, @spacekookie could you also comment whether you are fine with this?

[2018-06-25 14:40] soc opened #37 "Deal with home_dir changes"
`std::env::home_dir` is not working correctly on (at least) Linux, macOS and Windows.

Therefore, we provide our own implementation here, like in https://github.com/soc/dirs-rs/commit/b7ea3b78e4fdd3ff8102fb1f14ea47c7906ba965.

Along with that, we need to deal with the fact that `home_dir` can now fail in non-exotic cases, so the signatures have to reflect that, see https://github.com/soc/dirs-rs/c

[2018-06-25 15:10] spacekookie commented on #36
Yea, I'm fine with this change :+1:

[2018-06-25 15:11] soc commented on #36
@spacekookie Thanks! (Hope you enjoyed the GPN, btw! :-D)

[2018-06-25 15:21] spacekookie commented on #36
@soc Yea it was really fun :wink: :wink:

[2018-06-25 15:25] tbu- commented on #36
I appreciate this change (and obviously also agree with it). :)

[2018-06-25 16:08] matklad commented on #36
I agree to change the license to MIT/Apache-2.

[2018-06-25 16:37] Calinou commented on #36
I agree with this change :smiley:

[2018-06-25 20:03] soc commented on #36
Thanks to everyone, it looks like we have all the OK's we need!

Here is my plan for the near future:

I'll relicense the library in the coming days, work on https://github.com/soc/directories-rs/issues/37 (comments appreciated) and then push 1.0!

[2018-06-29 17:39] soc commented on #36
Hey everyone, would you mind giving me a last round of review for https://github.com/soc/directories-rs/pull/38 before I release 1.0? Would really appreciate it!

[2018-06-30 08:19] sanpii opened #39 "$XDG_DATA_DIRS"
Hello,

I don’t find a way to retreive `$XDG_DATA_DIRS`. Is it a missing feature?

From [XDG specifications](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html):

[2018-06-30 12:52] soc commented on #39
It's not implemented, but I thought about what would be necessary. In fact, we even came up with the same struct name. :-)

One of the problems is `/etc/xdg`, which I just don't want to support. I think it's a spec oversight/misinterpretation of the spec from the time the spec was solely focused on applications developed internally by the XDG project.

That's why I avoided it until now. From my po

[2018-07-05 11:59] #37 closed

[2018-07-09 23:32] #36 closed

[2018-08-12 13:53] kraai opened #42 "Make `ProjectDirs` return temporary directories for testing"
I'm creating a command-line application that stores its data in the locations returned by `ProjectDirs`.  In order to test the application without affecting the user's data, I'd like to be able to make `ProjectDirs` return temporary directories when the application is run during testing.  I think that setting the `XDG_...` environment variables would work on Linux and setting the `HOME` environmen

[2018-08-12 20:38] soc commented on #42
@kraai Hi Matt, thanks for the suggestion! It might be possible to do with some compile-time if-def, but what do you think about also reading the `%USERPROFILE%` on Windows?

The only reason directories is not using it is because I lack the operating system and the knowledge of how the variable is used in general on Windows. That could close the gap regarding the configurability on Windows and all

[2018-08-13 15:51] kraai commented on #42
I'll look into `USERPROFILE` on Windows.

It worries me a little for my test suite to have to know how to override how `directories` works on each platform.  I'm afraid that if `directories` were to change how it works or if the test suite were to be run on a new platform, the test suite could fail to override `directories` correctly and wipe out the user's data.

How about including an API which

[2018-08-13 20:59] soc commented on #42
How could this happen? This library neither creates nor deletes any directories. It doesn't write to the file system at all!

The problem is that you can't really specify a temporary directory in a way that works across all platforms, so you are at the same position as overriding the individual envs in the first place, I fear ...

Maybe it would be possible to add some if-def for the debug build a

[2018-08-14 18:02] HeroicKatora commented on #42
@kraai A previous software project was in a similar position but with another library. In the end, we realized that if the tests should simulate *user* experience that logic should not have an extra code path for a particular test case. As such I suggest the following, library independent alternatives:

* Use another user account for testing
* Test in a container or simulated environment (e.g. doc

[2018-08-15 21:48] soc opened #43 "Should something like temp_dir be added?"
As far as I remember from the last time I looked into this, the problem was that operating systems had wildly different definitions of temp dirs and their usage.

[2018-09-23 12:30] krdln opened #44 "Documentation for `BaseDirs` mentions panicing, but the function returns None"
Documentation for `BaseDirs::new` contains the following:

but from my understanding, the function returns `None` in the circumstance. Also, `home_dir` links to `std::env::home_dir`, but the implementation in this crate is different wrt. handling of empty paths. Should it link to `dirs::home_dir` instead?

[2018-09-23 14:38] soc commented on #44
You are right on both cases, there is something wrong here:

- I think this bit of documentation is still from the time where `new` returned `BaseDir` instead of `Option<BaseDir>`.
- The link certainly should go to `dirs::home_dir`.

[2018-09-23 16:36] soc commented on #44
@krdln I pushed commit https://github.com/soc/directories-rs/commit/0a424937234a9002e04c14d7da6e898766672f72, could you have a look whether this addresses the issues from your point of view? Thanks!

[2018-09-23 16:48] krdln commented on #44
@soc Thanks for quick fix!

I still feel it's a little bit confusing:

These docs about some/none are attached to a `home_dir` function, which doesn't return `Option`. Perhaps you've meant to put them on the `BaseDirs::new` docs?

Also, forgot to mention in the original issue, similar notes about panic are also on `ProjectDirs::new` and `UserDirs::new`.

[2018-09-23 18:07] soc commented on #44
Ouch, yes you are right. I just copied the documentation from `dirs` without checking.

[2018-09-23 18:51] soc commented on #44
@krdln Could you have a look at https://github.com/soc/directories-rs/commit/4026a64c3eb48d9af6186e5c700ed26a8aa5864d? Anything missing?

[2018-09-23 21:43] krdln commented on #44
It's perfectly clear now. Thank you!

[2018-10-04 19:56] #44 closed

[2018-10-21 00:06] mqudsi commented on #33
Generally, no application or user files are ever placed directly in `C:\Users\USERNAME`, although cross-platform linux apps have made it a habit of creating `.appname` folders to store their config there akin to under `$HOME`.

[2018-10-21 00:10] mqudsi opened #45 "ProjectDirs path problem under Windows"
Under Windows, there is a split between the local appdata folder and the roaming appdata folder. With regards to what goes where, they're almost interchangeable except that the roaming folder is for user app data that should be synchronized across machines while the local folder is for user app data that is machine-specific and need not/should not be synchronized to other machines.

(The only time

[2018-12-07 19:58] lavifb opened #47 "Support for using ~/.config on Mac for command line apps"
While not the official Apple sanctioned place for config files, the standard on the command line for MacOS tends to be using the Linux style `~/.config` for config files. Can we add support for using `~/.config` on Mac?

There is more discussion here:
https://github.com/rust-lang-nursery/cli-wg/issues/7#issuecomment-439223000

[2018-12-22 19:07] #42 closed

[2019-02-11 11:52] cjbassi commented on #47
Do cli apps on Mac also use the XDG data folder (`~/.local/share/`) and cache folder (`~/.cache/`)? If so, I'm wondering if the better method would be to instead use https://github.com/whitequark/rust-xdg for command line applications, and use directories-rs for gui applications, assuming cli apps on windows use xdg too.

[2019-02-11 14:28] lavifb commented on #47
Yeah that definitely works for Mac but then it doesn’t for Windows. (I don’t have a windows machine but as far as I can tell XDG is not the standard there)

[2019-02-11 14:32] lavifb commented on #47
For instance, Neovim does not use XDG on windows
https://neovim.io/doc/user/starting.html#vimrc

[2019-03-01 02:45] sigoden commented on #43
use [`std::env::temp_dir`](https://doc.rust-lang.org/std/env/fn.temp_dir.html)

[2019-03-01 08:03] soc commented on #43
That there exists a function is not indicative that it makes any sense (similar to `std::env::home_dir`).

[2019-03-31 02:48] FranklinYu commented on #47
I want to add [my answer on Stack Overflow](https://stackoverflow.com/questions/3373948/equivalents-of-xdg-config-home-and-xdg-data-home-on-mac-os-x/52749090#52749090) to the reasons of using `~/.config` for CLI.

[2019-03-31 04:07] retep998 commented on #47
Nothing on Windows uses XDG.

[2019-03-31 12:28] soc commented on #47
I will not support this:

Either we also change cache folders and therefore force everyone to add exclusions to macOS' backup software (`Library/Caches` is excluded, `.cache` isn't) or spread the folders into completely different places in the filesystem.

As a general advice for macOS devs: If you are developing on their platform, do what the platform owners tell you. They are the lords, you are

[2019-03-31 12:28] #47 closed

[2019-03-31 12:29] soc commented on #47
I closed this, but anyone should feel free to reopen if that person has new information.

[2019-04-05 16:56] sanmai-NL opened #53 "Misleading API docs: `xdg-user-dirs` rather than env var"
When debugging an issue detecting the Documents directory from within an Alpine Linux Docker container, I discovered that this library tries to run an executable named `xdg-user-dirs`. The API docs, however, [only say that certain environment variables are queried](https://docs.rs/directories/1.0.2/directories/struct.UserDirs.html#method.document_dir).

[2019-04-05 22:12] soc commented on #53
Thanks for the report Sander, I agree with you that this has not been documented.

Hopefully the situation will improvement due to https://github.com/soc/directories-rs/pull/52 in the future.

I will look into resolving this in the next few days.

[2019-05-25 15:39] Weasy666 commented on #43
I am also in favor of integrating that into this crate.
[std::env::temp_dir](https://doc.rust-lang.org/std/env/fn.temp_dir.html) currently doesn't include MacOS so there would be some value for doing it here. And...also...for sake of completeness it should be available here 😉

[2019-05-25 22:52] soc commented on #53
Hi Sander,

I agree with you that the documentation has not been clear in this regard:

In the documentation I used placeholders starting with `$...` (e. g. `$HOME`, `$XDG_CONFIG_HOME`) for environment variables, and placeholders without `$` (e. g. `XDG_MUSIC_DIR`, `XDG_DOCUMENT_DIR`) for variables retrieved using `xdg-user-dirs`, but never documented this.

I just shipped version 2.0.0 right now,

[2019-05-25 22:54] soc commented on #45
I'm closing this issue, feel free to re-open it with additional information.

[2019-05-25 22:54] #45 closed

[2019-05-25 22:55] soc commented on #16
This issue has been resolved in 2.0.0.

Thanks for reporting this, @matklad!

[2019-05-25 22:55] #16 closed

[2019-05-25 22:55] #6 closed

[2019-05-25 22:57] soc commented on #33
I'm closing this due to a lack of new information about this issue since it was opened.

Everyone should feel free to reopen this issue with new pieces of information or specific use-cases.

[2019-05-25 22:57] #33 closed

[2019-07-19 20:26] FranklinYu commented on #47
If I manually set the environment variable `$XDG_CONFIG_HOME` would it be respected on macOS?

[2019-09-03 07:13] cheako opened #58 "System folders?"
Need to know if to use Program\ Files or /usr/share or /usr/games/share.

[2019-10-02 22:22] ypoluektovich opened #59 "Documentation for `ProjectDirs::from` mentions panicing, but the function returns None"
The same issue as #44, apparently.

(I haven't checked, but maybe there are even more of these? ;-)

[2019-10-02 22:53] #59 closed

[2019-10-02 22:54] soc commented on #59
Hi Yanus,

thanks for your report! Could you have a look whether the change looks good to you?
(If not, please reopen with feedback!)

Cheers,

Simon

[2019-10-02 23:18] ypoluektovich commented on #59
Yep, that looks good! Thanks for the super quick response :)

[2019-10-03 00:06] soc commented on #59
:-)

[2019-10-27 20:16] Ralith commented on #58
It would be very helpful to have something exposing the contents of `XDG_DATA_DIRS` with the project suffix applied (or indeed at all).

[2019-10-27 20:19] Ralith commented on #39
Something like the above proposal, extended to `ProjectDirs`, would be very useful.

[2019-11-05 08:53] arzg opened #60 "Trash dir"
Hi,

I was recently looking for a way to locate the user’s trash directory and noticed that some issues here mentioned trash, but that this didn’t seem to be present in this library. However, it seems that `trash_dir` is still in `lib.rs`, just that [it is commented out](https://github.com/soc/directories-rs/blob/a0b0b8a433e45d3d6bd68e239f0fb83cc378dace/src/lib.rs#L99). Assuming that this was once

[2019-11-05 13:02] soc commented on #60
Hi Aramis,

the problem is that Windows' trash folder doesn't have a "real" path that we can return to the user, see: https://github.com/soc/directories-rs/issues/18

As there doesn't seem to be a consistent way to return this directory on all supported platforms (and there is usually not a per-user trash directory, but a per-disk one), the decision was made to not offer this API here.

[2019-11-06 04:18] arzg commented on #60
Since this library returns `Options`s of values, couldn’t you return `None` on those platforms that don’t support locating trash? Or is it that _all_ supported platforms don’t support locating trash.

AFAIK and FWIW trash on macOS is always `$HOME/.Trash`, and on (some?) Linux distros it’s `$XDG_DATA_DIR/Trash`. This is just from a quick Google and you’ve probably done way more research than me on

[2019-11-06 16:08] soc commented on #60
My concern is that it would confuse the reasons why one might get a `None`.

Without trash, it's basically "this OS does not have this dir"; if we added trash, it would add "the OS might have this dir, but we can't give you a path to it" as a second reason to return `None`.

[2019-11-07 03:05] arzg commented on #60
Ah, I see now. Thanks. Should I close this issue?

[2019-11-07 13:09] soc commented on #60
I'd propose we keep this open for a week and figure out whether we can collect additional pros/cons; after that I'll make a decision based on hopefully more information. :-)

[2019-11-07 20:56] arzg commented on #60
Sounds good 👍

[2019-11-12 12:47] lionel1704 opened #61 "Support usage of custom directory"
This crate is very useful to get the standard directories for storing files in the app's cache or to read/write configuration files. However, when using this to allow custom directories specified by the user there are some problems.

Let me expand a bit on this. We are building an API that can be used to build applications for different platforms. By default the API expects some configuration file

[2019-11-22 13:26] soc commented on #61
Hey Lionel,

not sure I understand, there is no `from` that takes a single string – did you have `from_path` in mind?

Or is this a proposal for adding another method?

Or regarding the fact that Windows has its config/cache/data dirs at the back (unlike e. g. Linux, which has them at the front?)?

[2019-11-22 13:40] lionel1704 commented on #61
Yes sorry. `from_path` is what I meant.
And as you said, It's regarding the fact that on windows the dirs are the back.

I'm looking to allow developers using my API to call `set_config_dir("some/path")` and I'd like to be able to use this crate to return that custom path for all `*_dir()` methods. That way if the custom dir was not set it could default to the directories returned from `ProjectDir

[2019-11-22 13:54] soc commented on #61
The semantics are intentionally designed to protect people from blowing their feet off, by ensuring that the various cache/config/data paths don't end up the same (i. e. even when used for so-called "portable" installs or doing weird RoamingAppData/LocalAppData shenanigans): such that a convenient button somewhere inside the application called "clear cache folder" doesn't nuke all the user's confi

[2019-11-22 14:46] lionel1704 commented on #61
Yes that's understandable. Thanks for the response.

[2019-11-22 14:46] #61 closed

[2019-11-22 16:41] soc commented on #61
Hope it helped, thanks!

[2020-01-09 21:29] lilyball commented on #47
Cross-platform CLI apps that write to ~/Library on macOS feel wrong to me. I would really like my CLI apps to use `~/.config` even on macOS. Using ~/Library/Caches is much more reasonable since, as a user, I don't have to care about that, and it won't get backed up by Time Machine. But configuration and user data should go into the appropriate CLI location.

[2020-01-09 21:32] lilyball opened #62 "Config dir on macOS should not be ~/Library/Preferences"
This library is vending ~/Library/Preferences as the config dir on macOS. This is a bad idea. Apple's own documentation explicitly states

Any configuration files written by the app without using one of those two APIs belongs in ~/Library/Application Support instead.

[2020-01-09 21:33] lilyball commented on #62
When this fix is made, there will also need to be some API that provides access to the old path, so tools can use it to migrate data to the correct location.

[2020-01-09 22:07] squarism commented on #62
What about using XDG style paths instead or in addition to?  Or having an option to do so?  `~/.config` is not unusual for CLI apps on mac.

[2020-01-09 22:10] lilyball commented on #62
I agree that XDG-style paths are preferable for CLI apps, though there would need to be some way to get the desired macOS-style paths for GUI apps.

[2020-01-09 23:32] squarism commented on #62
@lilyball Maybe the docs are just wrong.
This seems to imply that it's already doing what you want.  I'm using a binary that uses this lib on mac and it does put it under `Application Support`.
https://github.com/soc/directories-rs/blob/master/src/mac.rs#L13

[2020-01-10 00:57] lilyball commented on #62
@squarism That line is the data dir. Look one line up, the config dir is `Library/Preferences`.

[2020-02-16 02:56] emilazy commented on #62
This is probably more a bug in [dirs-rs](https://github.com/soc/dirs-rs) than this library per se, but I'd also like to see this fixed; I'd like to adopt directories-rs rather than rolling my own code, but not at the expense of polluting the wrong directories in the process of trying to respect platform conventions :(

[2020-02-16 05:16] justinmk commented on #62
fwiw, that was the rationale for choosing `~/.config` as the macOS XDG default in [Neovim](https://github.com/neovim/neovim).

As a user, the hiearchy of `~/Library` seems pretty random to me, whereas `~/.config/<app>` is obvious. Not to mention having the same path on all unix-like OSes seems more intuitive.

[2020-02-16 14:55] soc commented on #62
As Apple keeps tightening its after-sale ownership of macOS appliances, it's becoming increasingly unlikely that randomly dumping stuff in $HOME will keep working.

I'm not going to sign up to build stuff that guarantees that people will come running my way when things break a few years down the road, because my lib happens to show up last in their stacktrace.

[2020-02-16 14:58] emilazy commented on #62
Switching to the XDG directories would be a major change – though I personally think it's extremely unlikely that you're ever going to be unable to write to dotfiles in `$HOME` – but Apple's guidelines explicitly say that `Application Support` should be used over `Preferences` for application-generated configuration files and that programs should never manually create files in the latter, so IMO i

[2020-02-16 15:13] soc commented on #62
Alternatively simply do what Apple tells you to do and use `NSUserDefaults`/`CFPreferences`. Their computers, their rules.

[2020-02-16 15:15] emilazy commented on #62
I'm confused... Doesn't the argument of "As Apple keeps tightening its after-sale ownership of macOS appliances, it's becoming increasingly unlikely that randomly dumping stuff in $HOME will keep working." apply even stronger to `~/Library/Preferences`? They explicitly tell you not to create your own files there, so I wouldn't be surprised if *that* stops working at some point.

Their rules explic

[2020-02-17 00:54] lilyball commented on #62
Apple is tightening up system stuff, including the root volume, but the only restrictions they've placed on what a user can do in their own home folder is adding explicit permissions to accessing certain sensitive data (such as contacts database). There's no motivation for them to prevent users from creating dotfiles and I would be shocked if they ever did it.

As for `NSUserDefaults` / `CFPrefere

[2020-02-21 13:24] emilazy commented on #62
Is this bug effectively WONTFIX?

If so, could the incorrect behaviour at least be documented and the issue closed? I'm not sure what the point of a platform directories library advertising support for macOS is if it's not going to use the correct platform-specific directories.

[2020-02-21 14:30] soc commented on #62
Not WONTFIX; but WORKS AS INTENDED if I don't come up with a bright idea on how to resolve this in a way that doesn't introduce incorrectness.

Letting multiple things point to the same folder brings up the same problems as on Windows (https://github.com/soc/directories-rs/blob/master/src/win.rs#L65), where cache/config/data postfixes are added defensively to safe "smart" developers from themselve

[2020-02-21 14:54] Canop commented on #62
As I understand the issue, it's neither WONTFIX, nor WORKS AS INTENDED, it's an attempt at finding the best behavior.

Should the API introduce an optional context to precise things such as `cli_application` ?

[2020-03-08 12:58] DanCardin commented on #47
It feels like respecting a set value for `XDG_*_HOME` in all cases would be ideal, and then falling back to the existing directories when unset.

While I would probably opt to not set `XDG_CACHE_HOME` because i don't care and thus get the existing behavior (but if someone wants to opt into a specific spot, go for it), I very much **do** want to set `XDG_CONFIG_HOME` (as much of the point of a stan

[2020-03-09 06:06] FranklinYu commented on #47
Agree. When users set `XDG_CONFIG_HOME` themselves, it’s a clear indicator that this user wants configuration to be placed there. We should assume that user knows what he is doing, instead of making the decision for them.

[2020-03-09 06:26] lilyball commented on #47
I would be very surprised if a program behaved differently with `XDG_CONFIG_HOME=$HOME/.config` versus `XDG_CONFIG_HOME` being unset.

[2020-03-09 11:17] soc commented on #47
No, it won't.

[2020-03-09 11:19] soc commented on #62
I think there are already crates out there that do that (this crate won't).

[2020-03-31 00:50] DarrienG commented on #62
FWIW I have a user that is interested in the same sort of thing: https://gitlab.com/ttyperacer/terminal-typeracer/-/issues/29

I know what's going on right now is technically the right behavior, but I figured it was worth voicing too.

[2020-06-21 03:53] #60 closed

[2020-06-21 03:58] soc commented on #62
Thanks to all for your persistence!

Version 3 of both [dirs](https://github.com/dirs-dev/dirs-rs#3) and [directories](https://github.com/dirs-dev/directories-rs#3) shipped with the proposed change to `config_dir` on macOS, as well as the addition of `preference_dir` that retains the old behavior and allows accessing `Library/Preferences` for cases where this may still be required.

[2020-06-21 03:58] #62 closed

[2020-06-25 09:18] str4d opened #63 "directories 3.0.0 pins cfg-if 0.1.9, which breaks any dependency tree that also contains time 2.*"
This is the same issue as https://github.com/Geal/nom/issues/1156 (caused by https://github.com/Alexhuszagh/rust-lexical/issues/38 which similarly pins `cfg-if 0.1.9`); see there for further details.

[2020-07-04 18:48] soc commented on #63
Fixed in v3.0.1.

[2020-07-04 18:48] #63 closed

[2020-08-30 17:23] cjbassi commented on #47
Suggestion: Add an argument to the `ProjectDirs` constructor called `use_xdg_on_macos: bool` so that users can specify if they want that feature or not. That way directories-rs can work as expected for both GUI and CLI apps since users who can specify which one they want based on the type of program they are creating.

[2021-01-25 11:59] hg-zt opened #65 "Feature request: Add user program directory"
This is the read-only directory where static package files (executables, shared libraries, vendor resources, etc.) is installed. It's different from application data which could be generated during running and should be writable.
And it's only readable by the user who installed the package. It's like `C:\Program Files\`, but for each user.

## Linux
FHS (https://www.freedesktop.org/software/system

[2021-01-25 13:31] soc commented on #65
Interestring, thanks, I will think about this!

[2021-02-18 12:46] suve opened #66 "Add a way to force usage of ogranisation name on Linux"
Currently, on Linux, the organisation name is ignored, and e.g. `ProjectDirs::config_dir()` will return simply `~/.config/appname`. This may be enough for applications with some very unique names, but when using some more generic words, can lead to conflicts.

I'd like a way to force the lib to use the organisation name on Linux, so I'd get e.g `~/.config/suve/appname` instead of just `~/.config/a

[2021-02-18 13:49] soc commented on #66
Mhh, are there examples of existing applications doing this?

[2021-02-18 15:06] suve commented on #66
While I admit I failed to find FLOSS, there's quite a few proprietary programs doing this, e.g.:
- Jet Brains IDEs, e.g. `~/.config/JetBrains/CLion2020.2`.
- Microsoft Teams puts its data in `~/.config/Microsoft/Microsoft Teams`.
- Aspyr's Linux ports of Steam games, e.g. `~/.local/share/Aspyr/Sid Meier's Civilisation 5`
- Feral Interactive's ports of Steam games, e.g `~/.local/share/feral-interac

[2021-02-18 16:30] suve commented on #66
Oh, right. How could I forget. The [`SDL_GetPrefPath()`](https://wiki.libsdl.org/SDL_GetPrefPath) function in the SDL 2.x library does this, so most games based on SDL2 inherit this behaviour. ([Source code](https://github.com/libsdl-org/SDL/blob/release-2.0.14/src/filesystem/unix/SDL_sysfilesystem.c#L224))

[2021-02-23 20:47] OJFord commented on #47
OK, so if they tell me that their `$XDG_CONFIG_HOME` is at `/Users/lord/.config`, I should use that. Except, with `dirs-dev`, I can't.

I am a macOS 'platform owner', as well as Linux, and my `$XDG_CONFIG_HOME = $HOME/.config` (i.e. explicitly, not the unset fallback per spec) on both.

I can.. _understand_ wanting to use Library or whatever if nothing's specified, but if `$XDG_*` are actually pre

[2021-03-20 12:28] soc commented on #66
@suve To be honest, these examples all look like terrible porting jobs (i. e. simply copying Microsoft conventions to a platform that isn't Windows) – exactly the outcomes this library is intended to prevent.

[2021-03-20 12:29] soc commented on #53
Closing this due to age/no reply. Please reopen if this is still an issue!

[2021-03-20 12:29] #53 closed

[2021-04-13 12:41] erayerdin opened #67 "Add trash_dir to UserDirs"
Self-explanatory.

In Linux, it is located under `$HOME/.local/share/Trash`. It has these entries:

 - `directorysizes` file only containing deleted folders.
 - `info` directory with `*.trashinfo` files inside.
 - `files` directory containing deleted files and directories.

[2021-04-13 12:42] erayerdin commented on #67
Sorry, it's a duplicate of #25 and #60. Closing.

[2021-04-13 12:42] #67 closed

[2021-04-26 08:28] rope-hmg commented on #58
If this includes /Applications or /Users/name/Applications on the Mac that would be super useful.

[2021-12-14 23:48] ReactorScram opened #68 "`config_dir` but local instead of roaming?"
I think there is a missing use case of `config_local_dir`.

My program needs a config file with the computer's nickname, like "my laptop".

If I use `config_dir`, it will go into `AppData/Roaming` on Windows, but I feel like it should be `AppData/Local/...` on Windows and `~/.config/...` on Linux.

[2021-12-14 23:51] ReactorScram commented on #68
btw if it's cool, I could make a pull request for this. Looking at the code, I'm guessing it would only take a few lines.

If this isn't implemented I'll probably fork / vendor it anyway, so the code would be written no matter what.

[2022-01-03 12:15] rosehuds opened #70 "What's the difference between state_dir and data_local_dir?"
On Windows, data_local_dir is LocalAppData which AIUI is like RoamingAppData but not synchronised across machines. The docs for state_dir say that it's not synchronised across machines. Are they not the same thing? If not, could data_local_dir's behaviour on Linux be changed to match state_dir? Currently state_dir is only useful on Linu, and to me it would make sense to merge it into the existing

[2022-01-09 03:01] zapashcanon commented on #70
In [ocamlpro/directories](/ocamlpro/directories) I made the choice to have `state_dir` being the same as `cache_dir` in macOS and Windows because I believe it's the closest thing to it.

[2022-01-09 17:27] soc commented on #70
The state dir has some very specific requirements compared to cache dir. My reasoning was that filling in cache dir for state dir on Windows/macOS feels wrong. Either you need need state dir's additional behaviors – then pretending Win/macOS offers them is bad; or you don't need them – then simply use the cache dir.

[2022-01-10 01:35] zapashcanon commented on #70
I don't believe these `additional behaviors` are "needed" and there's also no guarantees:

It says *should* and not *must*. They're just some nice things to have when possible. Thus:

* either you want them if available (but it wouldn't be an issue if they're not) – then pretending Win/macOS offers thems is OK ;
* either you don't want them – then simply use the cache dir.

A basic use case is an

[2022-01-10 09:18] soc commented on #70
Ah sorry, I had state dir switched with runtime dir in my head. That makes my argument weaker in that regard, as the runtime dir has higher requirements.

[2022-01-10 09:50] zapashcanon commented on #70
Indeed, they're different. :smile:

Let's say you have to use `state dir`. On Linux, fine. Then you're on macOS or Windows and it's not available, which directory are you going to use ? Not `data dir` (users don't want to backup states...), you're left with `cache dir`. Then, I prefer the library to pick it for me automatically instead of having to write code to choose `cache dir` when `state dir`

[2022-02-24 00:09] cryptoquick opened #71 "Cross-platform tmpfs / %TEMP% BaseDir"
It would be useful to have a cross-platform way to get the tmp directory. On Mac and Linux, this should return the `/tmp` directory, on Windows it's held within the TEMP environment variable.

[2022-03-21 20:33] Shatur opened #72 "Provide API to get only specific directory"
With `dirs` crate I can get any directory directly. But `directories` provides structs and parses all directories at once. Users usually want to get a single directory. I would suggest to create separate functions as in `dirs` crate.

[2022-03-24 23:16] soc commented on #72
Hey Hennadii,

the intention of this design was to allow a user to create this struct once with the right parameters for the given application and then be able to use the derived paths for the applications' needs, while having the guarantee that all paths where computed consistently (i. e. at the same time during the construction of struct).

In the case only a single directory is needed, it's per

[2022-03-25 00:26] Shatur commented on #72
But I most of the application doesn't need all of them. This is why I suggested to allow to get directories separately. Or evaluate directories lazily.

`dirs` is great. But this crate provides project directories which I need.

I recently discovered [standard_paths](https://github.com/mentaljam/standard_paths) crate which have the described design. So if you disagree with the suggestion - feel fr

[2022-03-25 00:58] soc commented on #72
As soon as applications use more than one, it should already be cost-effective, because the expensive operations are only executed once.

Not sure I understand, that crate appears to be using roughly the approach. Am I missing something?

[2022-03-25 08:46] Shatur commented on #72
You doing it once, but you create a structure with 7 directories when usually an application need 1-2. I would also create it once, but with needed directories.

I just mentioned that I already found a library (was in the README) that allow to find only specified directories as I suggested.

[2022-04-05 06:47] joshtriplett commented on #71
This should respect the `$TMPDIR` environment variable on POSIX systems.

[2022-04-05 11:26] soc commented on #71
Older discussion: https://github.com/dirs-dev/directories-rs/issues/43

[2022-04-24 13:57] poliorcetics commented on #47
The justification for refusing this feels *very* wrong to me. Apple is not all-knowing and users that are setting `XDG_*` variables can be expected to know what they are doing and/or use CLI tools for which they want to save the configuration files to a VCS repo.

I can understand the default case not respecting `XDG_*` vars since it's not recommended behaviour but a new module `xdg` that respects

[2022-04-24 15:03] poliorcetics commented on #47
See https://github.com/dirs-dev/dirs-rs/pull/40

[2022-04-25 19:29] OJFord commented on #47
@soc Apple does not tell you not to use environment variables to configure where data is stored on 'their' devices, that's absurd.

[2022-04-25 21:09] soc commented on #47
@OJFord Apple defines where various kinds of data are stored. The rules do not contain an "in case you want to make up your on conventions ..." section.

[2022-04-25 21:56] OJFord commented on #47
It defines defaults and standard practices.

Sane CLI/TUI and other programmer tools in particular respect XDG if used.

Hell, many use the $HOME or $HOME/.config without the option; respecting neither Apple nor XDG's standard.

I have absolutely no idea why you would think it makes sense togo out of your way to ignore (based on the platform) an environment variable explicitly set by the user. Is

[2022-07-17 08:03] DodyAlkarkhi commented on #58
@soc I this feature something you'd want in this crate? I might be able to dedicate some free time on this

[2022-09-27 07:48] ieugen opened #74 "WASM build for the library?"
Hi,

Have you considered a WebAssembly build for the library ?
It should allow the usage of this library from any system using webassembly.

WebAssembly + WASI is getting traction and I think it's a good target to keep in mind.

[2022-09-27 07:49] ieugen commented on #74
I saw the file https://github.com/dirs-dev/directories-rs/blob/main/src/wasm.rs .
Should I assume the library is usable from web-assembly ?
I did not see any instructions / other information.

[2022-09-27 10:01] soc commented on #74
Hi @ieugen,

it only means it builds on WASM, but no directories are provided.

I'd expect that WASI already offers an API comparable to dirs, would be crazy if they just repeated the mistakes of the last decades. Is there a listing of available APIs for WASI somewhere?

Thanks,

Simon

[2022-09-27 10:27] ieugen commented on #74
I think all authoritative documents should be here https://github.com/bytecodealliance/wasmtime/blob/main/docs/WASI-documents.md .

I think WASI is focused on providing access to the underlying platform in a portable way.
I don't think they care about standardized directory structures.

https://github.com/bytecodealliance/wasmtime/blob/main/docs/WASI-overview.md

[2022-10-24 09:58] eugenesvk commented on #47
Let's try to parse the words of the macOS lord (__emphasis__ mine)[src](https://developer.apple.com/library/archive/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/FileSystemOverview/FileSystemOverview.html#//apple_ref/doc/uid/TP40010672-CH2-SW6), that might also be new information to some who can reopen :)

So if a cli __app__ __manages__ (i.e. creates/edits/deletes them) the c

[2022-11-24 16:34] Permik opened #75 "Windows user font directory"
Heya,
User specific font directory was introduced in Windows (sometime during ~2018) and it's available at `%AppData%\Local\Microsoft\Windows\Fonts`, but there's a platform API contract curveball ahead.
According to this [stack overflow comment](https://stackoverflow.com/a/70634549), you should not access and/or manipulate the user fonts this way (referencing [Why is there no programmatic access t

[2022-11-24 16:48] soc commented on #75
Hey @Permik,

sadly this was discussed in https://github.com/dirs-dev/dirs-rs/issues/37#issuecomment-1010003376 a while ago.

From your point of view, did anything that was observed over there change?

Thanks!

Simon